PORT = 5000
FRONTEND_URL = http://localhost:5173
MONGO_URI = you mongodb uri
EMBEDDING_MODEL = gemini-embedding-001
CHAT_MODEL = gemini-3.6-flash
LANGCHAIN_API_KEY=Langchain API key
LANGCHAIN_PROJECT=Your Langchain project name
LANGCHAIN_TRACING_V2=true
JWT_ACCESS_SECRET=super_secret_access_key
JWT_REFRESH_SECRET=super_secret_refresh_key
NODE_ENV=development